@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&family=Song+Myung&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

.Topbutton{display:scroll; position:fixed; bottom:50px; right:50px; text-decoration: none; color: black; font-family: "Noto Sans KR", sans-serif; font-size: 25px; font-weight: 900; padding:8px 0; border-radius:100%; box-sizing:border-box; background-color: rgba(0, 0, 0, 0.7); z-index: 1000;}

@media screen and (min-width:1280px){
    body{background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);}
    header{width:1920px; margin:0 auto 150px; font-family: "Jua", sans-serif; }
    header:after{content: ''; display: block; clear: both;}
    header > h1{float:left; width:10%; background-color: transparent; border: 2px solid #fff; color: #fff; display:block; text-align: center; cursor: pointer; font-weight: 900; font-size:35px; line-height: 50px; max-height: 52px; padding: 0; margin: 0;}
    header > h1:hover{background-color: rgba(255, 255, 255, 0.2)}
    header > nav{float:left; width:90%; background-color: rgba(51,204,102,0.5); max-height: 52px;}
    header > nav ul{padding:0; margin: 0;}
    header > nav ul:after{content: ''; display: block; clear: both;}
    header > nav ul li{float:right; width:10%; margin-right:5%; line-height: 50px; position: relative;}
    header > nav ul li:not(:first-child) a{transition-duration: 0.3s; color:inherit; text-decoration: none;}
    header > nav ul li:not(:first-child) .hovercolor:hover{color:#ff3322; cursor: pointer;}
    header > nav ul li:first-child a{font-size:25px; font-weight: 900; color:inherit; text-decoration: none;}
    header > nav ul li input[type="checkbox"]{position: fixed; left:-9999px;}
    header > nav ul li label{cursor: pointer; transition-duration: 0.3s; float:left;}
    header > nav ul li label:hover{color:#ff3322;}
    header > nav ul li .textbox{position:absolute; left:70px; width:20px; top:-100px; transform:rotate(180deg);}
    header > nav ul li input[type="checkbox"]:checked ~ .textbox{top:14px; width:100px; height:20px; display:block; transition-duration: 0.5s; transform:rotate(0deg);}
 

    .searchArea{width:1920px; margin: 0 auto;}
    .searchArea > div{width:66.66%; margin:0 auto; position:relative; font-family: "Jua", sans-serif;}
    .searchArea > div input[type="text"]{width:100%; font-size:30px; padding:20px 50px 20px 30px; border:none; color:black; border-radius: 20px; box-shadow: 1px 1px 10px 5px gray;}
    .searchArea > div input[type="text"]:focus{outline:none;}
    .searchArea > div input[type="text"]::placeholder{font-family: "Jua", sans-serif; color:gray; font-size:20px; border: none;}
    .searchArea > div > span{position:absolute; top:30%; right:2%; cursor:pointer; font-size:20px;}

    
    .infoArea{width:1920px; margin:0 auto 100px; position: relative;}
    .infoArea > div{width:1280px; margin:0 auto; background-color: white; border-radius: 50px; display: flex; box-shadow: 1px 1px 10px 2px gray; padding:50px 5%; font-family: "Noto Sans KR", sans-serif; font-weight:700;}
    .infoArea > div > div{width:25%; text-align: center;}
    .infoArea > div > div img{display:block; margin:0 auto 10px;}
    .infoArea > div > div:not(:nth-child(4)) > p{font-size:14px;}
    .infoArea > div > div:not(:nth-child(4)) > p:first-of-type{margin-bottom:1px;}
    .infoArea > div > div:nth-child(4) h2{font-size: 30px; padding-top:30px; letter-spacing: -1;}
    .infoArea > div > div:nth-child(4) p{font-size:20px; font-style: italic;}
    .infoArea > button[type="button"]{background-color: transparent; border: 2px solid #747474; color: #353535; line-height: 20px; position:absolute; top: 40%; right:18%; padding:5px 15px; border-radius: 20px; box-sizing: border-box; cursor: pointer; transition-duration: 0.5s;}
    .infoArea > button[type="button"]:hover{background-color: rgba(51,204,102, 0.2); border-color: white; box-shadow:1px 1px 5px 1px gray;}




    .recordArea{width:1920px; margin:0 auto;}
    .recordArea > div{width:1280px; margin: 0 auto; border-bottom: 1px solid gray; font-family: "Song Myung", serif; font-weight: 600; font-size: 16px;}
    .recordArea > div:nth-child(1) > ul{width:100%; margin-bottom:100px;}
    .recordArea > div:nth-child(1) > ul:after{content: ''; display: block; clear: both;}
    .recordArea > div:nth-child(1) > ul li{float:left; margin-right:5%; padding:5px 0;}
    .recordArea > div:nth-child(1) > ul li a{font-weight: 700; font-size: 20px; padding:5px 0; transition-duration: 0.5s; cursor: pointer;}
    .recordArea > div:nth-child(1) > ul li.activated a{color:white; padding:5px 0; border-bottom: 1px solid #fd9187;}
    .recordArea > div:nth-child(1) > ul li:hover a{color:white; border-bottom: 1px solid #fd9187;}

    .recordArea > div:nth-child(1) > #tab1 ul{width:100%; background-color: white; margin:0 auto 20px; border-radius: 10px; border: 3px solid white; background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);}
    .recordArea > div:nth-child(1) > #tab1 ul::after{content: ''; display: block; clear: both;}
    .recordArea > div:nth-child(1) > #tab1 ul li{float:left; padding:30px 0;}
    .recordArea > div:nth-child(1) > #tab1 ul li:nth-child(1){width:15%; margin-left:4%;}
    .recordArea > div:nth-child(1) > #tab1 ul li:nth-child(2){width:70%; margin:0 auto; text-align: center;}
    .recordArea > div:nth-child(1) > #tab1 ul li:nth-child(3){width:10%;}
    .recordArea > div:nth-child(1) > #tab1 ul li:nth-child(4){width:1%; background-color: #6699ff; border-radius: 0px 5px 5px 0;}
    
    /* *패배-임시css */
    .recordArea > div:nth-child(1) > #tab1 ul:first-child li:nth-child(4){background-color: #ff0e0e;}



    .recordArea > div:nth-child(1) > #tab4 article .point > div{float:left; width:32.33%; border-radius: 20px; background-color:white; box-shadow: 1px 1px 10px 2px gray;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(1),
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(2),
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(4),
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(5){margin-right:1.5%;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(1),
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(2),
    .recordArea > div:nth-child(1) > #tab4 article .point > div:nth-child(3){margin-bottom:20px;}
    .recordArea > div:nth-child(1) > #tab4 article .point:after{content: ''; display: block; clear: both;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > span{display:block; text-align: center; padding:10px 0; font-size:22px; font-weight: 700; background: linear-gradient(to right top, #861657, #ffa69e); color: transparent; -webkit-background-clip: text;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div{padding:30px 0; border-top: 1px solid #ffa69e;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div > span{display:inline-flex; width:10%;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div > span:nth-child(1){padding-left:5%;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div .rank1{font-weight: 700; font-size:18px;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div .norank1{font-size:12px;}
    .recordArea > div:nth-child(1) > #tab4 article .point > div > div > div{display:inline-flex; width:75%;}


}